<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to JBoss LogAnalysis:-</title>
</head>
<body ng-app="centurionapi.api">
{% verbatim %}
<div ng-controller = "Centurionapicontroller">
    {{ person.name }} is {{ person.age }} years old.
</div>
{% endverbatim %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script>
    (function () {
        'use strict';
        angular.module('centurionapi.api', [])
                .controller('Centurionapicontroller', [ '$scope', Centurionapicontroller]);

        function Centurionapicontroller($scope) {
            $scope.person = {
                        name : 'Nirav Joshi',
                        age :32

                    };
        }
    }());
</script>

</body>
</html>