{% extends 'base.html' %}

{% block jumobtron %}


{% endblock %}

{% block content %}
<h2 class="sub-header">Customer Name:</h2>
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>CustomerID #:</th>
                    <th>Customer Name:</th>
                </tr>

                </thead>
            <tbody>
             {%  for custlist in data %}
                 <tr>
                  <td>{{ custlist.id }}</td>

                  <td><a href="CustomerFilter.html">{{ custlist.cust_name }}</a> </td>
                 </tr>
            {% endfor %}
                </tbody>
            </table>
          </div>


{% endblock %}